CONTROLLERFLAG = [bool]    # starts with controller mode if true
NETWORKFLAG    = [bool]    # turns on networking if true     
CAMERAFLAG     = [bool]    # turns on camera if networking is also true
CAMERAPATH     = ["str"]   # sets the camera browser app path 
THREEDMODE     = [bool]    # switches to 2d xy planar coordinates
MQTTSERVER     = ["str"]   # sets the server ip. should be used with NETWORKFLAG
MQTTPATH       = ["str"]   # sets the server channel. should be used with NETWORKFLAG